.videoSection {
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-background-surface-color);
}

.videoSection .row {
  display: flex;
  justify-content: center;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  background-color: var(--ifm-color-emphasis-100);
  width: 100%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: var(--ifm-global-radius);
}

